        .container {
            max-width: 800px;
            margin: 40px auto;
            padding: 20px;
            background-color: var(--container-color);
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .slider {
            position: relative;
            width: 100%;
            max-width: 800px;
            margin: auto;
            overflow: hidden;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(181, 20, 20, 0.1);
        }
        .slides {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }
        .slides img {
            width: 100%;
            border-radius: 8px;
        }
        .navigation {
            position: absolute;
            top: 50%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            transform: translateY(-50%);
        }
        .navigation button {
            background-color: rgba(221, 218, 129, 0.7);
            border: none;
            padding: 10px;
            cursor: pointer;
            border-radius: 50%;
        }
        .news-content {
            margin-top: 20px;
        }
        .news-content h2 {
            font-size: 2em;
            margin-bottom: 10px;
            color: #d6cb9d; /* Ubah warna judul di sini */
        }
        .news-content p {
            line-height: 1.6;
            color: #d8ce9b;
        }