/*========== MENU ==========*/

/* nanti revisi lagi */
.menulist__container{ 
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 2rem;
  }
  
  /* .menuu__container{
    width: 55%;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  } ini nanti taro di media */
  
  .menu__container{
  margin-top: 3rem;
  padding: 0;

  
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  justify-content: center; 
  align-items: center;
  }
  
  .log__container{
    display: grid;
    align-items: center;
    justify-content: center;
  }
  
  .login__href{
    color: var(--first-color);
  }
  
  .dinein__container{
    display: flex;
    background-color: var(--container-color);
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(3,74,40,.15);
    padding: .75rem;
  }
  
  .menu__content{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    background-color: var(--container-color);
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(3,74,40,.15);
    padding: .75rem;
    width: 200px;
    height: 275px;
  justify-self: center;
  align-self: center;
  }

  .menu__cont{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    background-color: var(--container-color);
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(3,74,40,.15);
    padding: .75rem;
    width: 250px;
    height: 100px;
  justify-self: center;
  align-self: center;
  }

  .menuu__content{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    background-color: var(--container-color);
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(3,74,40,.15);
    padding: .75rem;
    width: 250px;
    height: 275px;
  justify-self: center;
  align-self: center;
  }
  
  .log__content{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--container-color);
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(3,74,40,.15);
    padding: 2rem;
  }
  
  .menu__img{
    margin-top: 10px;
    width: 135px;
    align-self: center;
    justify-self: center;
    margin-bottom: var(--mb-2);
    border-radius: 50%;
    transition: 2s;
  }

  .menu__photo{
    margin-top: 10px;
    width: 200px;
    align-self: center;
    justify-self: center;
    margin-bottom: var(--mb-2);
    border-radius: 50%;
    transition: 2s;
  }

    .menuu__img{
    margin-top: 10px;
    width: 135px;
    align-self: center;
    justify-self: center;
    margin-bottom: var(--mb-2);
    border-radius: 50%;
    transition: 2s;
  }
  
  .menu__img:hover{
    transform: rotate(360deg);
  }
  .menuu__img:hover{
    transform: rotate(360deg);
  }
  
  .menu__name, .menu__preci{
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
  }
  
  .menu__name{
    font-size: var(--normal-font-size);
  }
  
  .menu__detail, .menu__preci, log__detail{
    font-size: var(--small-font-size);
    color: var(--sub-color);
  }
  
  .menu__detail, .log__detail{
    margin-bottom: var(--mb-1);
  }
  
  .menu__button{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    padding: .625rem .813rem;
    border-radius: .5rem 0 .5rem 0;
  }